.topnav {
    overflow: hidden;
}
  
.topnav > a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    margin: 17px 0px;
}

.topnav a:hover {
    color: black;
    font-weight: bold;
}

.topnav a.active {
    background-color: #ef2a24;
    color: white;
}

.topnav > img {
    height: 70px;
    width: auto;
    float: left;
    padding: 5px;
    margin-right: 30px;
    border: none;
}

footer {
    background-color: #b6b7ba;
}

footer > div {
    height: 80px;
}

.footerimg {
    height: 70px;
    width: auto;
    float: left;
    padding: 5px 5px 5px 0px;
    border: none;
}

.footer-nav > a {
    color: black;
    text-align: left;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    margin: 3px 0px;
    display: block;
}

.footer-nav a:hover {
    font-weight: bold;
    color: black;
}