a {
    padding-right:15px;
}

footer{
    background-color: #cccccc;
}

img {
<<<<<<< HEAD
    height: 200px;
    width: auto;
=======
    height:200px;
    width:auto;
>>>>>>> 36c37206619dc13e7753efacceac2446d168ac3d
}